.box {
  width: 350px;
  background-color: lightgrey;
  padding: 10px;
  border: 1px solid black;
  margin: auto;
  color: darkblue;
}

li {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 10px;
}

a {
  color: darkblue;
  text-decoration: none;
}

a:hover {
  color: white;
}

button {
  padding: 15px;
  background-color: lightblue;
}

button:hover {
  cursor: pointer;
  background-color: lightgrey;
}
